
body {
	font-family: "Helvetica", Arial, sans-serif;
	background-color: black;
	color: #fff;
}

/* NAV */

li {
 list-style-type: none;
 float: right;
 margin-right: 5%;
 margin-top: 1%;
}

.logo  {
 float:left;
 margin-top: -0.5%;
}

.clearfix {
 overflow: auto;
}

.main {
	border: 1px solid white;
	box-shadow: 2px 2px 5px darkgray;
	padding: 10px;
	margin: auto;
  clear: both;
  text-align: center;
}

.main, .bottom {
	width: 60%;
}

.joinWords {
	display: ;
}
.headline {
	text-align: center;
	font-size: xx-large;
}
.imgCtr {
	text-align: center;
	margin-left: 30%;
	margin-right: 30%;
}
.street {
/*	float: right;*/
	display: inline-block;
	padding: 2em;
	width: 200px;
	margin: auto;
}
.fours {
/*	float: left;*/
	display: inline-block;
	padding: 2em;
	width: 200px;
	margin: auto;
}
.walkers {
/*	float: right;*/
	display: inline-block;
	padding: 2em;
	width: 200px;
}
.oldStreet {
	/*float: left;*/
	display: inline-block;
	padding: 2em;
	width: 200px;
}
.main-text {
	padding-left: 10%;
	padding-right: 10%;
}
.bottom {
	padding-top: 1em;
	padding-bottom: 1em;
	border: 1px solid #00f0ff;
	text-align: center;
	margin: 20px auto;
	box-shadow: 2px 2px 5px darkgray;
	font-size: .9em;
	font-style: italic;
}

footer {
  text-align: center;
  font-size: .7em;
}