body {
	background-color: black;
	color: #fff;
}

.profile {
	border: 1px solid white;
	box-shadow: 2px 2px 5px darkgray;
	float: left;
	width: 30%;
	margin: 10px;
}

.profile > img {
	width: 160px;
	height: 160px;
}